<!-- index.wxml  -->

<view class='index_container' wx:if="{{!showLoading}}">
  <!-- 搜索框部分  -->
  <view class='search_wrap'>
    <view class='search_box'>
      <picker mode="region" bindchange='getPosition' value='{{region}}'>
        <view class='arce_search'><image src='../../images/common/orange_position.png' mode='aspectFit'></image><text style="color:{{currentArea?'#ff8200' : ''}}">{{currentArea || '请选择'}}</text></view>
      </picker>
      <picker range='{{typeData}}' bindchange='getHouseType' bindcancel="cancelHouseType" value='{{typeIndex}}'>
        <view class='type_search' bindtap='changeSanjiao'>{{typeData[typeIndex]}}<view class='sanjiao {{sanjiao?"active":""}}'></view></view>
      </picker> 
      <view class='search_btn'  bindtap="getSearchList"><view hover-class='scale' style='display:inline-block;width:100%;height:100%'>搜索</view></view>
    </view>
  </view>
   <official-account bindload="load"  style="width:100%;height:168rpx;z-index:1000;position: relative;top: 100rpx"></official-account>
  <!-- 轮播图部分  -->
  <swiper class='swiper' indicator-dots="{{indicatorDots}}"  
        autoplay="{{autoplay}}" interval="{{interval}}" duration="{{duration}}" indicator-color="white" indicator-active-color="#666" circular="true">
    <block wx:for="{{lunbo}}" wx:key="{{index}}">  
        <swiper-item>  
          <image src='{{lunbo.length?host + "upload/" + item.image:""}}' class='swiper_item' mode='aspectFill'></image>
        </swiper-item>  
      </block>
  </swiper>
 <view class='content_box'>
   <!-- 广告位1  -->
  <view class='advertising'>
    <view class='advertising_item' wx:for="{{ad1}}" wx:key="{{index}}">
      <image src='{{ad1.length?host + "upload/" +item.image:""}}' style='width:100%;height:100%;'></image>
    </view>
  </view>
  <!-- 房源1  -->
  <view class='house_resource'>
    <!-- 房源头部  -->
    <view class='house_resource_top'>
      <view class='line'></view>
      <view class='house_resource_title'>个人房源</view>
      <view class='rent_out {{s_active == "rent_1_1" ? "active" : ""}}' data-type="rent_1_1" bindtap='selfer'>个人出租</view>
      <view class='demand_rent {{s_active == "rent_2_1" ? "active" : ""}}' data-type="rent_2_1" bindtap='selfer'>个人求租</view>
      <view class='rent_out active' style='float:right;'  bindtap='gengduoBtn'>更多</view> 
    </view>
    <!-- 房源列表  -->
    <component-houseList house-resource="{{selfer}}" have-loading="true" type="{{houseType}}"></component-houseList>
  </view>
  <!-- 中间广告图  -->
  <view class='house_resource_ad'>
    <image src='{{ad2.length?host + "upload/" + ad2[0].image:""}}' style='width:100%;height:100%;'></image>
  </view>
  <!-- 房源2  -->
  <view class='house_resource'>
    <!-- 房源头部  -->
    <view class='house_resource_top'>
      <view class='line'></view>
      <view class='house_resource_title'>公寓房源</view>
      <view class='rent_out {{b_active == "rent_1_2" ? "active":""}}' data-type="rent_1_2" bindtap='business'>公寓出租</view>
      <view class='rent_out' bindtap='uploadMore' style='float:right;' >更多</view>
      <!-- <view class='demand_rent {{b_active == "rent_2_2" ? "active":""}}' data-type="rent_2_2" bindtap='business'>商业求租</view> -->
    </view>
    <!-- 房源列表  -->
    <component-houseList house-resource="{{business}}" have-loading="true" type="公寓出租"></component-houseList>
  </view>
  <!-- 中间广告图  -->
  <view class='house_resource_ad'>
    <image src='{{ad3.length?host + "upload/" + ad3[0].image:""}}' style='width:100%;height:100%;'></image>
  </view>
  <!-- 租房那些事  -->
  <view class='house_resource'>
    <!-- 文章头部  -->
    <view class='house_resource_top'>
      <view class='line'></view>
      <view class='house_resource_title'>心租房-黑板报</view>
    </view>
    <!-- 文章列表  -->
    <view class='house_resource_list'>
      <view class='house_resource_item' wx:for="{{portal}}" wx:key="{{item.id}}" id="{{item.id}}" bindtap='getArticleDetail' hover-class='grey'>
        <view class='image_box'>
          <image src='{{host + "upload/" + item.more.thumbnail}}' style='width:100%;height:100%' mode='aspectFill'></image>
        </view>
        <view class='house_resource_item_right'>
          <view class='house_resource_item_title essay'>{{item.post_title}}</view>
          <text class='house_resource_item_info essay'>{{item.content}}</text>
        </view>
      </view>
      <view class='loading_more' bindtap='gotoArticle' hover-class='grey'>加载更多</view>
    </view>
  </view>
  <!-- 广告位  -->
  <view class='advertising'>
    <view class='advertising_item' wx:for="{{ad4}}" wx:key="{{index}}">
      <image src='{{ad4.length?host + "upload/" + item.image:""}}' style='width:100%;height:100%;'></image>
    </view>
  </view>
  <!-- 底部悬浮按钮 --> 
  <!-- <view bindtap='gengduoBtn' class='buttom bottomMore'><text style='margin-left:24rpx'>更多</text></view>  -->
           <view bindtap='fabuBtn' class='buttom'><text style='margin-left:24rpx'>发布</text></view> 
  <!-- 底部备案  -->
  <view class='footer'>
    <text class='copyright'>粤ICP备18086939号-1 </text>
    <text class='copyright'>深圳翻牌网络科技有限公司</text>
  </view>
 </view>
</view>
<loading wx:else>加载中</loading>

