<!-- 商业出租 -->
<view class='house_list' wx:if="{{!showLoading}}">
  <view class='house_item' wx:for="{{houseList}}" wx:key="{{item.id}}" id="{{item.id}}">
    <view class='item_top' bindtap='getHouseDetail' id="{{item.id}}">
      <view>{{item.title}}</view> 
      <view><text>{{item.monthly}}</text> 元/月</view>
    </view> 
    <view class='item_middle' bindtap='getHouseDetail' id="{{item.id}}">{{item.desc}}</view>
    <view class='item_bottom'>
      <view bindtap='btnZhiFu' data-id="{{item.id}}" wx:if="{{item.is_charge==1}} && {{item.is_pay==0}} && {{item.auditStatus==0}}">{{item.audit_status}}</view>
      <view wx:else>{{item.audit_status}}</view>
      <view class='house_status'>
        <view catchtap='editHouseStatus' hover-class='opacity' id='{{item.id}}' data-status='{{item.release_status}}' class='house_status_item'>{{item.release_status == 1?"待出租":"已出租"}}</view>
      </view>
      <view id="{{item.id}}" catchtap='editHouse' data-index="{{index}}" hover-class='scale'>修改房源 >></view>
    </view>
    <view style="color:#bcbcbc;font-size:22rpx;margin-top:15rpx;">到期时间:{{item.outtime}}</view>
  </view>
  <view style='text-align:center;line-height:100rpx;color:#666;' wx:if="{{!houseList.length}}">没有相关信息</view>
</view>
<loading wx:else>加载中</loading>
