<!-- 评论管理  -->
<view class='tabbar'>
  <view class='tabbar_item {{type == 1?"active":""}}' bindtap='selectType' data-distance="0" data-type="{{1}}">用户评论</view>
  <view class='tabbar_item {{type == 2?"active":""}}' bindtap='selectType' data-distance="100%" data-type="{{2}}">房源评论</view>
  <view class='tabbar_line' animation="{{animationData}}"></view>
</view> 
<view class='comment_container' wx:if="{{!showLoading}}">
  <block wx:if="{{commentList.length&&type == 1}}">
    <component-comment comment-type="{{1}}" id="comment" have-reply="true" comment-data="{{commentList}}" bind:comment="_comment" total="{{total}}"></component-comment>
  </block>
  <block wx:if="{{houseCommentList.length && type == 2}}">
    <component-comment comment-type="{{2}}"  id="comment" have-reply="true" comment-data="{{houseCommentList}}" bind:comment="_comment" total="{{houseTotal}}"></component-comment>
  </block>
  <view style='text-align:center;line-height:100rpx;color:#666;' wx:if="{{!commentList.length}}">没有相关信息</view>
  <component-loading down-loading="{{downLoading}}" complete-loading="{{completeLoading}}"></component-loading>
</view>
<loading wx:else>加载中</loading>