.loading_container {
  text-align: center;
  line-height: 50rpx;
  font-size: 24rpx;
}
.loading>view {
  display: inline-block;
  vertical-align: middle;
  color: #888;
}
.loading_animation {
  width: 25rpx;
  height: 25rpx;
  margin-right: 20rpx;
  border: 2px solid #35b9f1;
  border-radius: 50%;
  border-right: 2px solid transparent;
  animation: loading 1s linear infinite;
}
/* 动画  */
@keyframes loading {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}