/* 导入字体图标 */

@import "libs/font/iconfont.wxss";
@import "libs/fonthome/iconfont.wxss";
background {
  background-color: #f3f4f8;
}
page {
  background-color: #f3f4f8;  
  font-size: 28rpx;
}
/* 点击变灰  */
.grey {
  background-color: #eee !important;
}
/* 点击透明  */
.opacity {
  background-color: rgba(53,185,241, 0.5) !important;
}
/* 点击缩小  */
.scale {
  transform: scale(0.9);
  transition: all 0.2s linear;
}