/* 房源列表  */
.house_resource {
  margin-top: 10rpx;
}
.house_resource_item {
  padding: 15rpx 15rpx;
  margin-top: 15rpx;
  display: flex; 
  background-color: #fff;
  font-size: 24rpx;
  color: #66747f;
  border-radius: 0;
  border: 0 none;
  text-align: left;
}
button.house_resource_item {
  line-height: 1.5;
  background-color: #fff;
}
button.house_resource_item::after {
  border: 0 none;
}
.image_box {
  width: 220rpx;
  /* background-color: #35b9f1; */
  height: 180rpx;
  margin-right: 30rpx;
  border: 1px solid #f0f0f0;
}
.house_resource_item_right {
  flex: 1;
}
.house_resource_item_title {
  font-size: 28rpx;
  margin-bottom: 16rpx;
  color: #333;
  font-weight: 900;
  display: -webkit-box ;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:1;
}
.house_resource_item_title image{
  width: 30rpx;
  height: 30rpx;
  align-items: center;
}
.house_resource_item_info {
  display: -webkit-box ;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:1;
  margin-bottom: 8rpx;
}
.typeAndPrice {
  margin-top: 20rpx;
  overflow: hidden;
  /* line-height: 30rpx; */
}
.house_resource_item_type,.house_class {
  float:left;
}
.house_class {
  padding: 0 15rpx;
  border: 1px solid #ff8e20;
  color: #ff8e20;
  line-height: 38rpx;
  font-size: 22rpx;
}
.typeAndPrice .house_resource_item_type {
  color: #626262;
}
.house_resource_item_type>label {
  display: inline-block;
  vertical-align: middle;
  line-height: 21rpx;
}
.house_resource_item_type image{
  width: 24rpx;
  height: 24rpx;
  margin-right: 15rpx;
  vertical-align: middle;
}
.good {
  margin-right: 25rpx;  
}
.good image{
  width: 24rpx;
  height: 24rpx;
  margin-right: 15rpx;
  vertical-align: base;  
}
.house_resource_item_price {
  color:#ff8e20;
  float: right;
}
/* 第一个时间  */
.house_resource_item_times {
  font-size: 22rpx;
  float: right;  
}
.house_resource_item_price .price {
  font-size: 32rpx;
}
.loading_more {
  background-color: #fff;
  height: 59rpx;
  text-align: center;
  line-height: 59rpx;
  margin-top: 10rpx;
  font-size: 28rpx;
  color: #35b9f1;
}
.house_resource_item_time {
  font-size: 22rpx;
  color: #626262;
  flex: 1;
  text-align: right;
}
/* 取消收藏  */
.cancel_collection {
  text-align: right;
  color: #35b9f1;
  margin-top: 20rpx;
}
/* 新增样式  */
.house_resource_item_good_comment {
  color: #626262;
  display: flex;
  margin-top: 15rpx;
}
.house_fire {
  float: left;
  width: 54rpx; 
  height: 40rpx;
  margin-right: 15rpx;
}

/* 星级  */
.star {
  display: flex;
  justify-content: space-between;
  line-height: 42rpx;
}
.star image{
  width: 20rpx;
  height: 20rpx;
  margin-right: 5rpx;
}
/* 点击高亮  */
.grey {
  background-color: #eee;
} 