<!-- 个人资料 -->
<block wx:if="{{!showLoading}}">
  <form bindsubmit='submitForm'>
    <view class='header_icon'>
      <image src='{{imageUrl.length ? imageUrl[0] : info.avatar ? host + info.avatar:""}}' mode='aspectFill'></image>
      <view bindtap='editIcon'>修改头像</view>
    </view>
    <view class='userName'>
      <view>昵称</view>
      <input value='{{info.user_nickname}}' name="user_nickname"></input>
    </view>
    <picker range='{{genderData}}' bindchange='selectGender' name="sex" value='{{genderIndex}}'>
      <view class='gender'>
        <view>性别</view>
        <view>{{genderData[genderIndex]?genderData[genderIndex]:"请选择性别"}}</view>
      </view>
    </picker>
    <view class='introduce'>
      <view>介绍</view>
      <textarea value='{{info.signature}}' name="signature"></textarea>
    </view>
    <button class='saveBtn' form-type='submit' hover-class='opacity'>保存</button>
  </form>
</block>
<loading wx:else>加载中</loading>