/* pages/myMessageContent/myMessageContent.wxss */

/*向左*/
page{
  background-color: #DEDEDE;
}
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.content-list {
  padding: 30rpx;
  /* margin-bottom: 80rpx; */
}

.content-item {
  width: 100%;
}

.time {
  font-size: 22rpx;
  color: #999;
  text-align: center;
  line-height: 80rpx;
  height: 80rpx;
  /* 加5.27 */
  margin: 22rpx 0;
}

.time.notime {
  height: 30rpx;
  line-height: 30rpx;
}

.avatar {
  width: 70rpx;
  height: 70rpx;
  float: left;
}

.avatar image {
  width: 100%;
  height: 100%;
  position: relative;
  margin-right: 81rpx;
  left: 0;

}

/* 向左 */

.triangle_border_left {
  width: 0;
  height: 0;
  border-width: 16rpx 16rpx 16rpx 0;
  border-style: solid;
  border-color: transparent #e5e5e5 transparent transparent; /*透明 灰 透明 透明 */
  position: absolute;
  left: -16rpx;
  top: 16rpx;
}

.triangle_border_left view {
  display: block;
  width: 0;
  height: 0;
  border-width: 16rpx 16rpx 16rpx 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent; /*透明 黄 透明 透明 */
  position: absolute;
  top: -15rpx;
  left: 4rpx;
}

/* 向右 */

.triangle_border_right {
  width: 0;
  height: 0;
  border-width: 16rpx 0 16rpx 16rpx;
  border-style: solid;
  border-color: transparent transparent transparent #e5e5e5; /*透明 透明 透明 灰*/
  position: absolute;
  right: -16rpx;
  top: 16rpx;
}

.triangle_border_right view {
  display: block;
  width: 0;
  height: 0;
  border-width: 16rpx 0 16rpx 16rpx;
  border-style: solid;
  border-color: transparent transparent transparent #03a7e4; /*透明 透明 透明 黄*/
  position: absolute;
  top: -15rpx;
  right: 4rpx;
}

.content {
  position: relative;
  padding: 15rpx;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 8rpx;
  float: left;
  max-width: 450rpx;
  /* 加 */
  word-wrap: break-word;
}

.mainBgColor {
  background-color: #03a7e4;
}

.left {
  float: left;
}

.right {
  float: right;
}

.sendcontent {
  width: 80%;
  background-color: #fff;
  /* position: fixed; */
  height: 202rpx;
  line-height: 40rpx;
  margin-left: 10%;
  /* bottom: 0; */
  padding: 20rpx;
  box-sizing: border-box;
  margin-top: 40rpx;
}

.sendBtn {
  width: 20%;
  background-color: #03a7e4;
  /* height: 80rpx; */
  height: 80rpx;
  /* position: fixed;
  right: 0;
  bottom: 0; */
  color: #fff;
  line-height: 80rpx;
  margin-top: 20rpx
}

/* 房源列表 */

.source_bnt {
position: fixed;
bottom:32vh;
width: 25%;
font-size: 30rpx;
line-height: 70rpx;
height: 70rpx;
border-radius: 40rpx;
background-color: #03A7E4;
color: #FFF;
left: 80rpx;
}

.list_show {
  width: 89%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 5%;
  border: 2rpx solid #03a7e4;
}

.list_item {
  text-align: center;
  display: flex;
  /* flex-direction: c;
  justify-content: space-around; */
  /* padding: 0 30rpx;
  width: 84.5%; */
  width:100%;
  height: 150rpx;
  background: #fff;
  /* margin-top: 10rpx; */
  padding-top: 10rpx;
}
.list_item_left{
width:177rpx;
height:135rpx;
/* margin-left:20rpx; */
}
.list_item_right{
  display:flex;
  flex-direction:column;
  margin-left:10rpx;
  width:447rpx;
}

.close_item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 92.3%; */
  width:100%;
  height: 60rpx;
  background: #fff;
  border-top: 2rpx solid #f3f4f8;
}

.list_item_send {
  width: 97rpx;
  height: 55rpx;
  border-radius: 61rpx;
  background-color: #03a7e4;
  line-height: 55rpx;
  color: #fff
}
