/* pages/reportSuccess/index.wxss */
page{
  height: 100%;
}
button{
position: absolute;
width: 80%;
bottom:10%;
left: 10%;
background-color: rgb(255, 69, 0);
letter-spacing: 5px;
color: white;

}

.bg{
  background-color: #545B60;
  width: 76%;
  margin-left: 8%;
  border-radius: 5%;
  color: white;
  padding: 10% 4%;
  display: block;
  position: relative;

}
.bg image{
  width: 15%;
  margin: 0 auto;
  display: block;
  position: relative
}