<!--pages/haibao/haibao.wxml-->
<canvas canvas-id='canvas' wx:if="{{appshow}}" style='width:100%;height:100vh'></canvas>
<canvas canvas-id='canvas2' wx:if="{{!appshow}}" style='width:100%;height:100vh'></canvas>
<button bindtap='saveShareImg'>保存图片</button>