.issueRentOut_container {
  padding: 20rpx;
  background-color: #f3f4f8;
  font-size: 28rpx;
  color: #5b5b5b;
}
/* 上传图片  */
.uploading_image {
  padding: 1rpx 20rpx 20rpx;
  background-color: #fff;
}
.image_content {
  display: flex;
  flex-wrap: wrap;
}
.image_item {
  position: relative;
}
.image_item image {
  width: 146rpx;
  height: 118rpx;
  margin-right: 20rpx;
  margin-top: 20rpx;
  border: 1px solid #bbb;
}
.image_item .delete_img {
  position: absolute;
  right: 10rpx;
  top: 10rpx;
  width: 28rpx;
  height: 28rpx;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 28rpx;
  line-height: 22rpx;
  border-radius: 50%;
  font-family: '黑体';
}
.image_item:nth-child(4n) .delete_img {
  right: -10rpx;
}
.image_item:nth-child(4n) image {
  margin-right: 0;
} 
.add_image {
  border:1px dashed #bbb;
  font-size: 60rpx;
  color: #bbb;
  font-weight: 900;
  text-align: center;
  width: 146rpx;
  height: 118rpx;
  margin-top: 20rpx;
  line-height: 118rpx;
}
/* 入住时间  */
.Check_time {
  padding:1rpx 20rpx 20rpx;
  background-color: #fff;
  margin-top: 20rpx;
}
/* 房源资料  */
.house_info {
  padding:1rpx 20rpx 20rpx;
  background-color: #fff;
  margin-top: 20rpx;
}
.house_info_content>view {
  margin-top: 30rpx;
  height: 62rpx;
  line-height: 62rpx;
  display: flex;
}
.title {
  margin-right: 30rpx;
}
.house_info_title input,.house_info_address input{
  border: 1px solid #cbcbcb;
  width: 523rpx;
  height: 60rpx;
  padding-left: 15rpx;
}
::-webkit-input-placeholder {
  color: #b2b2b2;
}
.house_info_type label,.house_info_label label{
  position: relative;
}
.house_info_type radio,.house_info_label checkbox {
  position: absolute;
  opacity: 0;
}
.house_info_type label,.house_info_label label {
  display: inline-block;
  height: 50rpx;
  padding: 0 18rpx;
  line-height: 50rpx;
  color: #35b9f1;
  border: 1px solid #35b9f1;
  margin-right: 20rpx;
  margin-bottom: 12rpx;
}
.house_info_type label.active,.house_info_label label.active {
  background-color: #35b9f1;
  color: #fff;
}
.house_info_content .house_info_label {
  height: auto;
  line-height: auto;
}
/* 位置  */
.location {
  padding: 40rpx 20rpx;
  background-color: #fff;
  margin-top: 20rpx;
}
.area,.rent_type {
  display: flex;
  line-height: 60rpx;
}
.rent_type {
  margin-top: 30rpx;
}
.area .region_box,.rent_type .rent_type_box {
  width: 486rpx;
  height: 58rpx;
  border: 1px solid #cbcbcb;
  text-align: center;
}
/* 房源描述  */
.house_description {
  background-color: #fff;
  padding: 30rpx 26rpx;
  margin-top: 20rpx;
  font-size: 24rpx;
}
.description_top {
  display: flex;
}
.description_top>view {
  width: 68rpx;
  margin-right: 24rpx;
  font-size: 28rpx;
}
.description_top>textarea {
  padding: 20rpx;
  height: 220rpx;
  border: 1px solid #cbcbcb;
  border-radius: 5rpx;  
  font-size: 24rpx;
}
.description_bottom {
  margin-top: 40rpx;
  border: 1px solid #cbcbcb;
  background-color: #fcfcfc;
  padding: 15rpx;
}
.description_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20rpx;
}
.description_item:last-child {
  margin-bottom: 0rpx;
}
.description_item>view>view,.description_item>view>input {
  display: inline-block;
  vertical-align: middle;
}

.description_item>view:first-child{
  margin-right: 16rpx;
}
.description_item>view>view {
  margin-right: 10rpx;
}
.description_item>view>input {
  width: 240rpx;
  min-height: 30rpx;
  line-height: 30rpx;
  border:1px solid #cdcdcd;
  padding-left: 16rpx;
  box-sizing: border-box;
}
.description_item>view>view:nth-child(2) {
  width: 240rpx;
  height: 52rpx;
  line-height: 52rpx;
  border:1px solid #cdcdcd;
  box-sizing: border-box;
  padding-left: 16rpx;
}
/* 设施  */
.facility {
  background-color: #fff;
  padding: 5rpx 26rpx 30rpx;
  margin-top: 20rpx;
}
.facility_content checkbox-group{
  margin-top: 20rpx;
  display: flex;
  flex-wrap: wrap;
}
.facility_item {
  width: 74rpx;
  margin-right: 72rpx;
  margin-bottom: 20rpx;
  position:relative;
}
.facility_item checkbox {
  opacity: 0; 
  position: absolute;
  width: 100%;
  height: 100%;
}
.facility_item:nth-child(5n) {
  margin-right: 0;
}
.facility_item image{
  width: 74rpx;
  height: 74rpx;
}
.facility_name {
  width: 74rpx;
  margin-top: 5rpx;
  text-align: center;
  font-size: 24rpx;
  color: #333;
}
.facility_name.active {
  color: #35b9f1;
}
.contact {
  display: flex;
  margin-top: 40rpx;
  line-height: 60rpx;
}
.contact>view {
  margin-right: 30rpx;
  vertical-align: middle;
}
.contact>input {
  width: 483rpx;
  height: 60rpx;
  line-height: 60rpx;
  border: 1px solid #cdcdcd;
  padding-left: 15rpx;
  font-size: 24rpx;
  vertical-align: middle;
}
.phoneAndWechat{
  margin-top: 30rpx;
  position:relative;
  display: flex;
}
.phoneAndWechat image {
  width: 30rpx;
  height: 30rpx;
  margin-left: 20rpx;
}
.phoneAndWechat checkbox {
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

/* 按钮  */
.btns {
  margin-top: 80rpx;
  text-align: center;
}
.btns>button {
  display: inline-block;
  height: 50rpx;
  width: 160rpx;
  text-align: center;
  line-height: 50rpx;
  font-size: 28rpx;
  background-color: #fff;
  border-radius: 0;
}
.btns>button::after {
  border: 0 none;
  border-radius: 0;
}
.btns>button {
  margin-right: 60rpx;
  color: #35b9f1;
  border: 1px solid #35b9f1;
}
.btns>button:nth-child(3) {
  margin-right:0;
  color: #ff8e20;
  border: 1px solid #ff8e20;
}

/* 备注提示  */
.remark_tip {
  margin-top: 80rpx;
  font-size: 24rpx;
  color: #fb9905;
}
.remark_tip>view {
  margin-top: 10rpx;
}

/* 房源状态  */
.house_status {
  background-color: #fff;
  margin-top: 30rpx;
  padding: 1rpx 20rpx 20rpx;
}
.house_status radio-group {
  margin-top: 20rpx;
}
.house_status radio-group label {
  padding: 0 20rpx;
  position: relative;
  border: 1px solid #35b9f1;
  color: #35b9f1;
  line-height: 50rpx;
  margin-right: 20rpx;
  display: inline-block;
  text-align: center;
}
.house_status radio-group label radio {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top: 0;
}
.house_status label.active {
  background-color: #35b9f1;
  color: #fff;
}
