@import '../../component/search/search.wxss';

/* 悬浮按钮 */

.buttom {
  width: 100rpx;
  height: 100rpx;
  line-height: 100rpx;
  background: #35b9f1;
  color: #fff;
  box-shadow: 0rpx 0rpx 20rpx #000;
  position: fixed;
  bottom: 220rpx;
  right: 60rpx;
  border-radius: 50%;
}

.searchList_container.disabled {
  overflow: hidden;
  height: 100vh;
}

/*  筛选栏  */

.filter_box {
  position: relative;
  background-color: #fff;
  top: 92rpx;
  border-bottom: 1px solid #e5e5e5;
}

.filter {
  margin-top: 25rpx;
  display: flex;
  height: 50rpx;
}

.filter>view {
  flex: 1;
  text-align: center;
  font-size: 28rpx;
  color: #4d5c6b;
}

.filter>view>view {
  height: 28rpx;
  line-height: 28rpx;
  border-right: 1px solid #aaa;
}

.filter>view:last-child>view {
  border-right: 0px;
}

/*  选择筛选框  */

.filter_content {
  position: absolute;
  padding: 0 20rpx 10rpx;
  font-size: 28rpx;
  color: #4d5c6b;
  height: 300rpx;
  box-sizing: border-box;
  z-index: 2;
  background-color: #fff;
}

.filter_content .filter_content_item {
  text-align: center;
  line-height: 66rpx;
  height: 66rpx;
  border-bottom: 1px solid #eee;
}

.filter>view>view.active {
  color: #35b9f1;
}

/* 更多的下拉框  */

.filter_content_more {
  width: 100%;
  position: absolute;
  font-size: 28rpx;
  background-color: #fff;
  z-index: 2;
  height: 600rpx;
  border-bottom: 1px solid #e5e5e5;
}

.more_item {
  /* height: 265rpx; */
  padding: 20rpx;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.more_item_title {
  color: #4d5c6b;
  font-weight: 700;
}

.more_item_content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.more_item_label {
  /* width: 90rpx; */
  padding: 0 15rpx;
  height: 40rpx;
  text-align: center;
  line-height: 40rpx;
  margin-top: 20rpx;
  margin-right: 10rpx;
  background-color: #f2f6f3;
  border: 1px solid #eee;
  color: #4d5c6b;
  position: relative;
  font-size: 22rpx;
}

.more_item_label.active {
  color: #35b9f1;
  border: 1px solid #35b9f1;
  background-color: #fff;
}

.more_item_label radio {
  opacity: 0;
  position: absolute;
}

.submitBtnBox {
  padding: 20rpx;
  display: flex;
  justify-content: center;
  margin-bottom: 20rpx;
}

.submitBtn {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24rpx;
  width: 100rpx;
  height: 50rpx;
  line-height: 50rpx;
  background-color: #35b9f1;
  color: white;
  border-radius: 0;
}

.submitBtn:first-child {
  margin-right: 40rpx;
}

.submitBtn::after {
  border: 0 none;
  border-radius: 0;
}

/*  房源样式  */

/* 房源列表  */

.content_box {
  padding: 10rpx 15rpx;
  background-color: #f3f4f8;
  margin-top: 155rpx;
}

/* 点击颜色  */

.grey {
  background-color: #eee;
  color: #35b9f1;
}

.search_box, .filter_box {
  width: 100%;
  position: fixed;
}

.search_box {
  top: 0;
}

/* 下拉框的向下箭头 */

.bottom-kuang,.more-kuang {
  width: 100%;
  height: 40rpx;
  position: fixed;
  background: #fff;
}
.more-kuang{
  position: fixed;
  line-height: 30rpx;
  bottom:-30rpx;
  z-index: 100;
}
.more-kuang .xiala{
  padding-right: 0;
 line-height: 30rpx;
  position:relative;
}
.bottom-one {
  /* bottom: 61.8vh; */
  top:420rpx;
}
.bottom-onex{
  /* bottom:68vh; */
   top:420rpx;
}
.bottom-twox{
  /* bottom:29vh; */
   top:660rpx;
}
.bottom-two {
  /* bottom: 25vh; */
   top:735rpx;
}

@media (min-width:512px) {
  .bottom-one {
    bottom: 50vh;
  }

  .bottom-two {
    /* bottom: 21vh; */
  }
}

.xiala {
  position: relative;
  /* left: 346rpx;
  top: -19rpx; */
  margin: 0 auto;
  display: block;
  width: 40rpx;
  /* height: 15rpx; */
  font-size: 50rpx;
  padding-right: 50rpx;
}
